body {
    font-family: monospace;
    padding: 10px;
}

table {
    width: 100%;
}

tr.details {
    display: none;
}

tr.details:target {
    display: table-row;
    background: #ddd;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    margin-left: 10px;
    padding: 0px 10px;
    background: black;
    color: white;
}

:hover > .tooltip {
    visibility: visible;
}

pre {
    white-space: pre-wrap;
}

thead {
    font-weight: bold;
}

code, .tooltip {
    background: #333333;
    color: white;
    padding: 5px 10px;
}

dt, dd {
    margin: 20px;
}

table {
    overflow: scroll;
    max-width: 1000px;
}

table {
    border-spacing: 0px;
}

table td, table th {
    padding: 5px 10px;
}

td:nth-child(1), th:nth-child(1) {
    position: sticky;
    left: 0px;
    background: white;
}

td[colspan="100%"] {
    background: #ddd;
}
